div:hover {
    border-style: solid;
}

div:first-of-type {
    border-color: rosybrown;
    font-style: italic;
}

div:nth-of-type(2) {
    border-color: brown;
}
div:nth-of-type(3) {
    border-color: crimson;
    font-size: larger;
    font-style: italic;
}
div:nth-of-type(4) {
    border-color: darkred;
}
div:nth-of-type(5) {
    border-style: red;
    font-style: italic;
}