.fundoamarelo {
    background-color: yellow;
}
#itensordenada li:nth-child(2n) {
    color: green;
}
#itensordenada li:nth-child(2n+1) {
    text-transform: uppercase;
}
h1, h3 {
    color: red;
}
#h1emitalico {
    font-size: 40px;
    border: solid black 1px;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
#segundalista > li:nth-last-of-type(n+3) {
    color: blue;
}
.Javanonome {
    background-color: darkmagenta;
}

a:link {
    text-decoration: none;
}

#bonus li:hover #stack {
    text-transform: bold;
    color: orange;
}
#bonus li:hover #w3s {
    text-transform: bold;
    color: green;
}
#bonus li:hover #mdn {
    text-transform: bold;
    color: black;
}
#bonus li:hover #dev {
    text-transform: bold;
    color: yellow;
}
#bonus li:hover #trybe {
    text-transform: bold;
    color: green;
}